.month-list .year-label {
  color: #555;
}

.tag-list {
  line-height: 3rem;
}

.tag-list a {
  padding-left: 1rem;
  color: #1abc9c;
}

.tag-list a:hover {
  color: #555;
}

.tag-list a:not(:last-child):after {
  content: ", ";
}