.month-list .year-label, .month-list .month-label a span {
  color: #555;
}

.month-list .month-label a {
  color: #1abc9c;
  background-color: transparent;
}

.tag-list {
  line-height: 3rem;
}

.tag-list a {
  padding-left: 1rem;
  color: #1abc9c;
}

.tag-list a:hover {
  color: #555;
}

.tag-list a:not(:last-child):after {
  content: ", ";
}